<div class="gain-loss-table-scroller">
  <table class="gain-loss-table">
    <thead>
      <tr>
        <th class="accounts priority1 account">Account</th>
        <th class="positions priority1 security">Security</th>
        <th class="positions priority1 quantity">Quantity</th>
        <th class="positions priority1 last-trade">Last Trade</th>
        <th class="positions accounts priority1 market-value">Market Value</th>
        <th class="positions priority2 price-paid">Price Paid</th>
        <th class="positions priority3 total-cost">Total Cost</th>
        <th class="positions accounts priority3 gain">Gain</th>
        <th class="accounts priority1 gain-percent">Gain</th>
        <th class="accounts priority1 cash">Cash</th>
        <th class="positions accounts priority1 details"></th>
      </tr>
    </thead>
    <tbody>
      {{#each tableData}}
        <tr>
          <td class="accounts priority1 account">{{this.name}}</td>
          <td class="positions priority1 account">
            <span class="ticker">{{this.symbol}}</span><br />
            {{this.name}}</td>
          <td class="positions priority1 quantity">
            {{this.quantity}}
            <br />&nbsp;</td>
          <td class="positions priority1 last-trade">
            {{formatMoney this.lastTrade}}<br />
            &nbsp;</td>
          <td class="accounts priority1 market-value">{{formatMoney this.marketValue}}</td>
          <td class="positions priority1 market-value">
            {{formatMoney this.marketValue}}<br />
            <span class="{{getSign gainPercent}} gain-percent">{{formatPercent gainPercent}}</span>
          </td>
          <td class="positions priority2 price-paid">
            {{formatMoney this.pricePaid}}<br />
            &nbsp;</td>
          <td class="positions priority3 total-cost">
            {{formatMoney this.totalCost}}<br />
            &nbsp;</td>
          <td class="positions accounts priority3 gain {{getSign gain}}">{{formatMoney this.gain}}</td>
          <td class="accounts priority1 gain-percent {{getSign gainPercent}}">{{formatPercent gainPercent}}</td>
          <td class="accounts priority1 cash">{{formatMoney this.cashPosition}}</td>
          <td class="positions accounts priority1 details"><a href="#"><img src="app/img/more_info_icon.png" alt="More Info"></a></td>
        </tr>
      {{/each}}
      <!-- Table Rows Go Here -->
    </tbody>
  </table>
</div>
