<tr>
  <td class="priority1 security">{{instrumentName}}}</td>
  <td class="priority2 symbol">{{instrumentSymbol}}</td>
  <td class="priority1 quantity">{{quantity}}</td>
  <td class="priority1 last-trade">{{formatMoney lastTrade}}</td>
  <td class="priority1 market-value">{{formatMoney marketValue}}</td>
  <td class="priority2 price-paid">{{formatMoney pricePaid}}</td>
  <td class="priority3 total-cost">{{formatMoney totalCost}}</td>
  <td class="priority3 gain {{getSign gain}}">{{formatMoney gain}}</td>
  <td class="priority2 gain-percent {{getSign gainPercent}}">{{formatPercent gainPercent}}</td>
</tr>