<h1>Log In</h1>
<form id="login-form">
  <label for="l-username" class="ui-hidden-accessible">Username</label>
  <input
    id="l-username"
    name="username"
    type="text"
    class="validate[required]"
    placeholder="Username"
    data-theme="a">
  <label for="l-password" class="ui-hidden-accessible">Password</label>
  <input
    id="l-password"
    name="password"
    type="password"
    class="validate[required]"
    placeholder="Password"
    data-theme="a">
  <a id="l-login-button" href="#positions" data-role="button">Login</a>
</form>