/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */
 /* override the default grey background */
.ui-body-c {
    background: white;
}

.positive {
    color: #F89F20;
}

.negative {
    color: #C0272D;
}

/* -----------------------------------------------------------------------------
 * Layout Information
 * -------------------------------------------------------------------------- */
.layout-info {
    float: left;
    font-weight: bold;
    font-size: 10px;
}

/* -----------------------------------------------------------------------------
 * Interface
 * -------------------------------------------------------------------------- */
.ui-bar-a {
    background: #F89F20;
    text-shadow: none;
}

/* -----------------------------------------------------------------------------
 * Summary
 * -------------------------------------------------------------------------- */
.summary-table {
    width: 320px;
    float: right;
}

.summary-table th {
    color: #676767;
    font-size: 10px;
    text-align: center;
}

.summary-table td {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* -----------------------------------------------------------------------------
 * Gain/Loss Chart
 * -------------------------------------------------------------------------- */
.gain-loss-chart {
    clear: both;
    height: 137px;
    margin: 10px 0;
    width: 100%;
}

/* -----------------------------------------------------------------------------
 * Gain/Loss Table
 * -------------------------------------------------------------------------- */
/* Following styles are required by iScroll, otherwise scroller will not work */
.gain-loss-table-wrapper {
    left: 0;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Following styles are required by iScroll, otherwise scroller will not work */
.gain-loss-table-scroller {
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.gain-loss-table {
    border-spacing: 0;
    padding: 0 15px;
    width: 100%;
}

.gain-loss-table thead tr {
    background-color: #B2B2B2;
    height: 23px;
}

.gain-loss-table th {
    color: #FFFFFF;
    font-size: 12px;
    text-shadow: none;
    display: none;
    text-align: right;
}

.gain-loss-table td {
    border-bottom: solid 1px #B2B2B2;
    font-size: 12px;
    height: 23px;
    display: none;
    text-align: right;
}

.gain-loss-table .account,
.gain-loss-table .security {
    text-align: left;
}

.gain-loss-table .symbol {
    text-align: center;
}

/* -----------------------------------------------------------------------------
 * Positions Page
 * -------------------------------------------------------------------------- */
#positions .gain-loss-table td.positions,
#positions .gain-loss-table th.positions {
  display: table-cell;
}

/* -----------------------------------------------------------------------------
 * Accounts Page
 * -------------------------------------------------------------------------- */
#accounts .gain-loss-table td.accounts,
#accounts .gain-loss-table th.accounts {
  display: table-cell;
}
