/* apply a natural box layout model to all elements
/* see: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  color: #010101;
  font-size: 1em;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  height: auto;
  font-size: 1em;
  line-height: 1em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a {
  color: #EF4423;
  text-decoration: none;
}

input,
input.ui-input-text {
  border: none;
  font-size: 0.75em; /* 12 / 16 = 0.75 */
  margin: 0 0 0.8333333333em 0; /* 10 / 12 = 0.8333333333 */
  min-width: 6.6666666667em; /* 80 / 12 = 6.6666666667 */
}

label,
label.ui-input-text {
  background: #656565;
  color: #F7E4C8;
  font-size: 0.6875em; /* 11 / 16 = 0.6875 */
  height: 2.5em; /* 25 / 10 = 2.5 */
  line-height: 2.5em;
  margin: 0;
  padding-left: .8em; /* 8 / 10 = 0.8 */
  width: 8em; /* 80 / 10 = 8 */
}

menu, ul {
  margin: 0;
  padding: 0;
}

body > section {
  height: 100%;
  width: 100%;
}

/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */
 /* override the default grey background */
.ui-body-c {
    background: white;
}

.positive {
    color: #F79F1E;
}

.negative {
    color: #C0272D;
}

/* -----------------------------------------------------------------------------
 * Interface
 * -------------------------------------------------------------------------- */
.ui-bar-a {
    text-shadow: none;
}

.ui-btn {
    background: #EF4423; /* disabled color: #858585; */
}

.ui-btn:hover,
.ui-btn:focus {
  background: #f07637;
}

.ui-btn:active {
  background: #8d3329;
}

/* -----------------------------------------------------------------------------
 * Summary
 * -------------------------------------------------------------------------- */
.summary-table {
    width: 100%;
    margin-bottom: 1.25em; /* 20 / 16 = 1.25 */
}

.summary-table th {
    color: #676767;
    font-size: 0.5em; /* 8 / 16 = 0.5 */
    font-weight: normal;
    text-align: center;
}

.summary-table td {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

/* -----------------------------------------------------------------------------
 * Gain/Loss Chart
 * -------------------------------------------------------------------------- */
.gain-loss-chart {
    clear: both;
    height: 247px;
    margin: 10px 0;
    position: relative;
    width: 100%;
}

p.tooltip {
  font-size: 0.5625em; /* 9 / 16 = 0.5625 */
  position: absolute;
  margin: 0;
  padding: 0;
}


/* -----------------------------------------------------------------------------
 * Gain/Loss Table
 * -------------------------------------------------------------------------- */
/* Following styles are required by iScroll, otherwise scroller will not work */
.gain-loss-table-wrapper {
    display: none;
    left: 0;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Following styles are required by iScroll, otherwise scroller will not work */
.gain-loss-table-scroller {
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.gain-loss-table {
    border-spacing: 0;
    color: #575757;
    font-size: 0.625em; /* 10 / 16 = 0.625 */
    margin-bottom: 3.6em; /* 36 / 10 = 3.6 */
    padding: 0 15px;
    width: 100%;
}

.gain-loss-table thead tr {
    background-color: #999999;
    height: 23px;
}

.gain-loss-table th {
    color: #FFFFFF;
    text-shadow: none;
    display: none;
    text-align: right;

}

.gain-loss-table tr:hover td,
.gain-loss-table tr:focus td,
.gain-loss-table tr:active td {
  background-color: #58585B;
  color: #fff;
  cursor: pointer;
}

.gain-loss-table td {
    border-bottom: solid 1px #B2B2B2;
    display: none;
    height: 3.4em; /* 34 / 10 = 3.4  */
    padding: 0.5em; /* 5 / 10 = 0.5 */
    text-align: right;
}

#positions .gain-loss-table td.positions,
#positions .gain-loss-table th.positions,
#account-summary .gain-loss-table td.account-summary,
#account-summary .gain-loss-table th.account-summary,
#accounts .gain-loss-table td.accounts,
#accounts .gain-loss-table th.accounts,
#position-summary .gain-loss-table td.position-summary,
#position-summary .gain-loss-table th.position-summary {
  display: table-cell;
}

.gain-loss-table tbody tr:last-child td {
  border-bottom: 0 none;
}

.gain-loss-table .account {
  font-size: 0.9em; /* 9 / 10 = 0.9 */
}

.gain-loss-table .ticker {
  font-size: 1.1111111111em; /* 10 / 9 = 1.1111111111 */
  font-weight: bold;
  line-height: 1.7em; /* 17 / 10 = 1.7 */
}

.gain-loss-table .account,
.gain-loss-table .security {
    color: #333;
    padding-left: 1.6em; /* 16 / 10 = 1.6 */
    text-align: left;
}

.gain-loss-table .gain-percent {
  font-weight: bold;
}

.gain-loss-table tbody .details {
  background: transparent url(../img/more_info_bg_normal.png) no-repeat scroll 0.2em center;
  cursor: pointer;
  padding-right: 1.6em; /* 16 / 10 = 1.6 */
  text-align: center;
  width: 2.7em;
}

.gain-loss-table tbody .details:hover,
.gain-loss-table tbody .details:focus,
.gain-loss-table tbody .details:active {
  background-image: url(../img/more_info_bg_active.png);
}

.gain-loss-table th.account,
.gain-loss-table th.security {
  color: #575757;
}

.gain-loss-table .symbol {
    text-align: center;
}

/* -----------------------------------------------------------------------------
 * Home Page
 * -------------------------------------------------------------------------- */
#home {
  background: #404040;
  padding: 0.5em 0 2.25em; /* 4 / 16 = 0.25 */
}

.login-wrapper {
  background: #F79F1E;
  font-size: 1em; /* 16 */
  height: 100%;
  margin: 0 auto;
  padding-top: 0.375em; /* 6 / 16 = 0.375 */
  width: 97.5%; /* 312 / 320 = 0.975 */
}

.logo {
  margin-top: .375em; /* 6 / 16 = 0.375 */
}

.logo img {
  margin: 0 0 1.9375em 5.769230769%; /* 31 / 16 = 1.9375; 18 / 312 = 0.05769230769 */
  width: 51.6025641%; /* 161 / 312 = 0.516025641 */
}

h3.subhead {
  font: normal normal normal 0.875em/1em sans-serif; /* 14 / 19 = 0.875 */
  margin-left: 14.74358974%; /* 46 / 312 = 0.1474358974 */
  margin-bottom: 2.2857142857em; /* 32 / 14 = 2.2857142857 */
}

#login-section {
  background: #404040;
  font-size: 1em; /* 16 */
  margin: 0 auto;
  padding: 0.375em 0.875em; /* 6 / 16 = 0.375; 14 / 16 = 0.875 */
  width: 96.15384615%; /* 300 / 312 = 0.9615384615 */
}

#login-section h1 {
  color: #fff;
  font: bold normal normal 0.875em/1em sans-serif;
  margin: 0 0 1.4285714286em 0; /* 14 / 20 = 1.4285714286 */
}

#login-form {
  width: 100%;
}

#l-login-button,
#o-register-button {
  color: #fff;
  display: block;
  font-size: 0.75em; /* 12 / 16 = 0.75 */;
  margin: 1.6666666667em auto; /* 20 / 12 = 1.6666666667 */
  min-width: 5em; /* 60 / 12 = 5 */
  padding: 1.1666666667em; /* 14 / 12 = 1.1666666667 */
  width: 33.33333333%; /* 100 / 300  = 0.3333333333 */
}

.login-icon {
  margin-bottom: 0.5em; /* 6 / 12 = 0.5 */
}

.open-account {
  text-align: center;
  font-size: 0.875em; /* 14 / 16 = 0.875 */
}

.open-account img {
  vertical-align: middle;
}

.disclaimer p {
  color: #fff;
  font: normal normal normal 0.625em/1.25em sans-serif;
  margin: 0.2em 0 0 0.6em;
}

/* -----------------------------------------------------------------------------
* Gain/Loss Pages
* -------------------------------------------------------------------------- */
.content-section {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

.gain-loss-page h1,
.transaction-page h1 {
  display: inline-block;
  font-size: 0.9375em; /* 15 / 16 = 0.9375 */
  margin-bottom: 1.3333333333em; /* 20 / 15 = 1.3333333333 */
  text-transform: uppercase;
  width: 87%;
}

.gain-loss-page h1 .divider {
  color: #B84E42;
}

.gain-loss-page h1 .security-name {
  text-transform: none;
}

.gain-loss-header {
  background: #F79F1E;
  height: 2.1875em; /* 38 / 16 = 2.1875 */
  margin-bottom: 0.625em; /* 10 / 16 = 0.625 */
  min-width: 14em; /* 224 / 16 = 14 */
}

.gain-loss-header menu {
  float: right;
  font-size: 0.75em; /* 12 / 16 = 0.75 */
  margin: 0 1.3333333333em; /* 16 / 12 = 1.3333333333 */
}

.gain-loss-header menu .ui-btn {
  color: #fff;
  float: left;
  font-weight: bold;
  margin-right: 0.5em; /* 6 / 12 = 0.5 */
  padding: 0.4166666667em 0.5em 0.3333333333em; /* 5 / 12 = 0.4166666667; 4 / 12 = 0.3333333333 */
}

.gain-loss-header menu .ui-btn:last-child {
  margin-right: 0;
}

.gain-loss-header menu .ui-btn a {
  color: #fff;
}

.logo-header {
  margin: 0.125em 0 0 1em; /* 2 / 16 = 0.125; */
}

/* -----------------------------------------------------------------------------
* Chart/Table Switch
* -------------------------------------------------------------------------- */

.chart-table-menu {
  float: right;
}

.chart-select,
.table-select {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 22px;
}

.table-select {
  background: transparent url(../img/icon_table-inactive.png) no-repeat scroll 0 0;
}

.table-select.active-view {
  background-image: url(../img/icon_table-active.png);
}

.chart-select {
  background: transparent url(../img/icon_chart-inactive.png) no-repeat scroll 0 0;
}

.chart-select.active-view {
  background-image: url(../img/icon_chart-active.png);
}

/* -----------------------------------------------------------------------------
* Gain/Loss Footer
* -------------------------------------------------------------------------- */

.gain-loss-footer .ui-btn {
  background: #404041;
  color: #fff;
}

.gain-loss-footer .ui-navbar li {
  border: 0;
  float: left;
  margin: 0;
  width: 25%;
}
.gain-loss-footer .ui-navbar li a {
  background: #404041 url(../img/positions_lower_btn_icon_normal.png) no-repeat scroll center 0.6em;
  border-right: 1px solid #fff;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 0.625em; /* 10 / 16 = 0.625 */
  height: 4.6em; /* 46 / 10 = 4.6 */
  margin: 0;
  padding: 2.8em 0 0;
}

.gain-loss-footer .ui-navbar li a:hover,
.gain-loss-footer .ui-navbar li a:focus,
.gain-loss-footer .ui-navbar li a:active,
.gain-loss-footer .ui-navbar li a.active-tab {
  background-color: #a7a9ab;
  color: #404041;
}

.gain-loss-footer .ui-navbar .accounts a {
  background-image: url(../img/accounts_lower_btn_icon_normal.png);
  background-position: center 0.9em;
}

.gain-loss-footer .ui-navbar .accounts a:hover,
.gain-loss-footer .ui-navbar .accounts a:focus,
.gain-loss-footer .ui-navbar .accounts a:active,
.gain-loss-footer .ui-navbar .accounts a.active-tab {
  background-image: url(../img/accounts_lower_btn_icon_active.png);
}

.gain-loss-footer .ui-navbar .orders a {
  background-image: url(../img/orders_lower_btn_icon_normal.png);
}

.gain-loss-footer .ui-navbar .orders a:hover,
.gain-loss-footer .ui-navbar .orders a:focus,
.gain-loss-footer .ui-navbar .orders a:active,
.gain-loss-footer .ui-navbar .orders a.active-tab {
  background-image: url(../img/orders_lower_btn_icon_active.png);
}

.gain-loss-footer .ui-navbar .positions a {
  background-image: url(../img/positions_lower_btn_icon_normal.png);
}

.gain-loss-footer .ui-navbar .positions a:hover,
.gain-loss-footer .ui-navbar .positions a:focus,
.gain-loss-footer .ui-navbar .positions a:active,
.gain-loss-footer .ui-navbar .positions a.active-tab {
  background-image: url(../img/positions_lower_btn_icon_active.png);
}

.gain-loss-footer .ui-navbar .transactions a {
  background-image: url(../img/transactions_lower_btn_icon_normal.png);
}

.gain-loss-footer .ui-navbar .transactions a:hover,
.gain-loss-footer .ui-navbar .transactions a:focus,
.gain-loss-footer .ui-navbar .transactions a:active,
.gain-loss-footer .ui-navbar .transactions a.active-tab {
  background-image: url(../img/transactions_lower_btn_icon_active.png);
}

/* -----------------------------------------------------------------------------
* Modal
* -------------------------------------------------------------------------- */

.modal {
  background: #404040;
  color: #F7E4C8;
  height: 100%;
  padding: 0.8181818182em 2.1818181818em; /* 9 / 11 = 0.8181818182; 24/11 = 2.1818181818 */
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal .close-button {
  background: transparent url(../img/close_bg_normal.png) no-repeat scroll 0 0;
  float: right;
  height: 14px;
  text-align: center;
  width: 14px;
}

.modal .close-button:hover,
.modal .close-button:focus {
  background-image: url(../img/close_bg_hover.png);
}

.modal .close-button:active {
  background-image: url(../img/close_bg_active.png);
}

.modal .close-button img {
  vertical-align: top;
  padding-top: 3px;
}

.modal h1 {
  color: #fff;
  font-size: 0.875em; /* 14 / 16 = 0.875 */
}

.modal .instructions {
  font-size: 0.6875em; /* 11 / 16 = 0.6875 */
}