<section class="modal-content">

  <span class="close-button"><img src="app/img/close_icon.png" alt="Close"></span>

  <h1>Open an Account</h1>

  <form id="add-account-form">
    <label for="a-accountname">Account Name</label>
    <input
      id="a-accountname"
      name="accountname"
      type="text"
      class="validate[required]">
    <label for="a-routingnumber">Routing Number</label>
    <input
      id="a-routingnumber"
      name="routingnumber"
      type="text"
      class="validate[required]">
    <label for="a-accountnumber">Account Number</label>
    <input
      id="a-accountnumber"
      name="accountnumber"
      type="text"
      class="validate[required]">
    <a id="a-add-button" data-role="button"><img class="login-icon" src="app/img/add_account_btn_icon.png" alt="" /><br />Open Account</a>
  </form>

</section>