<section class="modal-content">

  <span class="close-button"><img src="app/img/close_icon.png" alt="Close"></span>

  <h1>{{security}}</h1>

  <section class="transaction-wrapper">

    <h2>Account: {{accountName}}</h2>

    <div class="buy-sell">
      <a href="" class="sell-button">Sell</a>
      <a href="" class="buy-button">Buy</a>
    </div>

  </section>

  <table class="position-overview">
    <tr>
      <td><span class="label">Quantity:</span> {{quantity}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><span class="label">Last Trade:</span> {{formatMoney lastTrade}}</td>
      <td><span class="label">Price Paid:</span> {{formatMoney pricePaid}}</td>
    </tr>
    <tr>
      <td><span class="label">Market Value:</span> {{formatMoney marketValue}}</td>
      <td><span class="label">Total Cost:</span> {{formatMoney totalCost}}</td>
    </tr>
  </table>

</section>

<table class="position-lots">
  <thead>
    <tr>
      <th class="lot-date">Lot</th>
      <th>Quantity</th>
      <th>Price Paid</th>
      <th class="total-cost">Total Cost</th>
    </tr>
  </thead>
  <tbody>
    {{#each children}}
      <tr>
        <td class="lot-date">{{parseDateString this.lotCreationTime}}</td>
        <td>{{this.quantity}}</td>
        {{#with this.pricePaid}}
          <td>{{formatMoney amount}}</td>
        {{/with}}
        {{#with this.totalCost}}
          <td class="total-cost">{{ formatMoney amount}}</td>
        {{/with}}
      </tr>
    {{/each}}
  </tbody>
</table>