<section class="modal-content">

  <span class="close-button"><img src="app/img/close_icon.png" alt="Close"></span>

  <h1>Open an Account</h1>

  <p class="instructions">All the fields below are required</p>

  <form id="open-account-form">
    <label for="o-firstname">First Name</label>
    <input
      id="o-firstname"
      name="firstname"
      type="text"
      class="validate[required]">
    <label for="o-lastname">Last Name</label>
    <input
      id="o-lastname"
      name="lastname"
      type="text"
      class="validate[required]">
    <label for="o-username">Username</label>
    <input
      id="o-username"
      name="username"
      type="text"
      class="validate[required]">
    <label for="o-password">Password</label>
    <input
      id="o-password"
      name="password"
      type="password"
      class="validate[required]">
    <label for="o-confirm-password">Password</label>
    <input
      id="o-confirm-password"
      name="confirm-password"
      type="password"
      class="validate[required]">
    <a id="o-register-button" data-role="button"><img class="login-icon" src="app/img/login_icon.png" alt="" /><br />Open Account</a>
  </form>

</section>